.header {
    background-color: #fdfbdf;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: $header-height;
    transition: height 0.3s ease;

    @include tablet {
        height: $header-tablet-height;
        box-shadow: $box-shadow;
    }

    @include mobile {
        height: $header-mobile-height;
    }

    .container {
        height: 100%;
    }

    &.shrink {
        height: $header-shrink-height;
        box-shadow: $box-shadow;
        z-index: 100;

        @include mobile {
            height: $header-mobile-height;
        }
    }

    &__logo {
        @include flex(center, center);
        inset: 0;
        pointer-events: none;
        img {
            top: 20px;
            width: 189.5px;
            height:189.6px;
        }
    }

    &__menu {
        @include flex(center, space-between);
        height: 100%;
        font-size: 2.0rem;

        &__item ~ &__item {
            margin-left: 50px;

            @include tablet {
                margin-left: 20px;
            }

            @include mobile {
                margin-left: 10px;
            }
        }

        &__item.active {
            font-weight: 600;
            color: $main-color;
        }

        &__item:hover {
            color: $main-color;
            background-color: transparent;
        }

        &__left,
        &__right {
            @include flex(center, center);
            height: 100%;
        }

        &__right {
            font-size: 2.0rem;

            &__item {
                @include flex(center, center);
                align-items: center;
                gap:100px;
                @include tablet {
                    margin-left: 10px;
                }
                //margin-left: 10px;
                button{
                    border-radius: 20px;
                    border: 10px solid "black";
                    width: 110px;
                    height:60px;
                    outline:none;
                    font-size:2.0rem;
                    background:white;
                    cursor:pointer;
                }
                img:active{
                    background: #f3f3f3;
                }
                button:active{
                    background: #f3f3f3;
                }
                p:active {
                    font-weight: 600;
                    color: $main-color;
                }
        
                p:hover {
                    color: $main-color;
                    background-color: transparent;
                }
            }

            @include mobile {
                font-size: 1.5rem;
            }
        }

        &__left {
            &__close {
                display: none;
            }

            @include tablet {
                flex-direction: column;
                background-color: $main-bg;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100vh;
                justify-content: flex-start;
                padding-top: 30px;
                transform: translateX(-100%);
                transition: transform 0.5s ease;

                &.active {
                    transform: translateX(0);
                }

                &__item ~ &__item {
                    margin-left: unset;
                    margin-top: 20px;
                }

                &__close {
                    display: block;
                    position: absolute;
                    left: 20px;
                    font-size: 2.5rem;
                }
            }
        }

        &__mobile-toggle {
            display: none;

            @include tablet {
                display: block;
                font-size: 2.5rem;
            }
        }
    }
    // old code with error hover light grey all header
    //   a {
    //     text-decoration: none;
    //     }
    //     a:hover {
    //         background-color: lightgrey;
    //         }
    //     }

    // not hover all header but not sure if it will hover search result
      .dataItem a {
        text-decoration: none;
        
      }
      .dataItem a:hover {
        background-color: lightgrey;
      }
      #clearBtn {
        cursor: pointer;
      }
}
